.r-calendar {
	width: 80%;
	border: 1px solid #BDBDBD;
	margin-left: auto;
	margin-right:auto;
	border-top: 5px solid #FFBF00;
	max-height: 90vh;
	overflow: auto;
	
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=#808080, strength=10);
}

.r-calendar-toolbar {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	
	-ms-flex-direction: row;
}

.r-calendar-widget {
	margin: 10px;
}

.r-calendar-desctop-header {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.r-calendar-week-0,.r-calendar-week-1,.r-calendar-week-2,.r-calendar-week-3,.r-calendar-week-4,.r-calendar-week-5,.r-calendar-week-6 {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	
	-ms-flex-direction: row;
}

.number-week {
	vertical-align: center;
}

.r-calendar-group-btn {
	margin: 10px;
}

.r-calendar-btn {
	background-color: #0B2F3A;
	border-color: #0B2F3A;
	color: #FFFFFF;
}

.r-calendar-btn:hover {
	background-color: #0B4C5F;
	border-color: #0B2F3A;
	color: #FFFFFF;
}

.r-calendar-current-day {
	color: #04B404;
}

.r-calendar-btn-today {
	margin: 0px 0px 0px 10px;
}

.r-calendar-thead {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	
	-ms-flex-direction: row;
}

.r-calendar-tbody {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	
	-ms-flex-direction: row;
}

.r-calendar-day {
	text-align: center;
	border: 1px solid #dee2e6;
	width: 13.6%;
	margin: 0px;
	height: 80px;
}

.r-calendar-day-active {
	top: 0;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.r-calendar-day-active:hover {
	background-color: #F2F2F2;
	cursor: pointer;
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.r-calendar-day-disable {
	top: 0;
	background-color: #FAFAFA;
}

.r-calendar-thead-day {
	text-align: center;
	border: 1px solid #dee2e6;
	width: 13.6%;
	margin: 0px;
	font-weight: bold;
}

.r-calendar-daytime {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	
	-ms-flex-direction: row;
}

.r-calendar-daytime-grid-thead {
	text-align: center;
	border: 1px solid #dee2e6;
	margin: 0px;
	font-weight: bold;
}

.r-calendar-daytime-grid {
	text-align: center;
	border: 1px solid #dee2e6;
	margin: 0px;
	height: 50px;
}

.r-calendar-daytime-grid-10 {
	width: 10%;
}

.r-calendar-daytime-grid-90 {
	width: 90%;
}

.r-calendar-week {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	
	-ms-flex-direction: row;
}

.r-calendar-week-grid {
	text-align: center;
	border: 1px solid #dee2e6;
	margin: 0px;
	height: 50px;
}

.r-calendar-week-grid-thead {
	text-align: center;
	border: 1px solid #dee2e6;
	margin: 0px;
	font-weight: bold;
}

.r-calendar-week-grid-10 {
	width: 10%;
}

.r-calendar-week-grid-12 {
	width: 13%;
}

.r-calendar-daytime-active {
	top: 0;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.r-calendar-daytime-active:hover {
	background-color: #F2F2F2;
	cursor: pointer;
	transform: scale(1.01);
	-moz-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-webkit-transform: scale(1.01);
	-o-transform: scale(1.01);
}

@media (min-width: 576px) {
	.r-calendar {
		width: 100%;
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.r-calendar {
		width: 100%;
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.r-calendar {
		width: 90%;
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.r-calendar {
		width: 80%;
		max-width: 1140px;
	}
}